@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 730px;
  width: 320px;
  background-color: white;
  position: relative;
}
header {
  background: linear-gradient(to bottom right, blue, pink);
  height: 100px;
  width: inherit;
}
.status-bar {
  padding: 30px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

/* 검색창 */
.search-bar {
  display: flex;
  position: absolute;
  width: 95%;
  padding: 0 10px;
  height: 45px;
  top: 60px;
  background-color: white;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 7px -3px rgb(155, 155, 155);
}

#search {
  border: none;
  padding-left: 20px;
  opacity: 0.5;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  padding: 50px 15px 25px 15px;
  height: inherit;
}

/* 첫째 배너 */
.today-book {
  display: flex;
  flex-wrap: wrap;
}
h2[class*="title"] {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.today-book__box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.today-book__cover {
  width: 100px;
  height: 151px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px -3px;
}

.today-book__data {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0 0 0px 17px;
  justify-content: space-between;
}
.today-book__data h3 {
  padding-top: 5px;
  font-size: 18px;
  font-weight: 400;
}
.today-book__data h5 {
  font-size: 15px;
  font-weight: 600;
  color: #e1e1e1;
  margin-top: 0;
}
.today-book__rate {
  display: flex;
  align-items: center;
  margin-top: 3px;
}
.today-book__rate i {
  padding-left: 2px;
  color: plum;
}
.today-book__genre {
  font-size: 2px;
  display: flex;
  margin-top: 5px;
  align-items: center;
}
.today-book__genre h6 {
  background-color: #dad8d8;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.8;
  border-radius: 6px;
  padding: 5px 5px;
  margin-right: 5px;
}
.today-book__bookmark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
}
.today-book__bookmark button:first-child {
  width: 30px;
  height: 30px;
  border: none;
  background-color: plum;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.today-book__bookmark button:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 23px;
  background-color: rgb(114, 114, 114);
  color: #cfcfcf;
  font-size: 10px;
  border: none;
  border-radius: 7px;
}

/* 두번째 섹션 */
.top-books {
  display: flex;
  flex-direction: column;
}

.top-books__list {
  display: flex;
  width: auto;
  justify-content: space-between;
  width: 280px;
  overflow-x: scroll;
  padding-bottom: 8px;
}
.top-books__list::-webkit-scrollbar {
  background-color: white;
  height: 5px;
}
.top-books__list:hover {
  overflow-x: scroll;
}
.top-books__list:hover::-webkit-scrollbar {
  height: 5px;
  /* background-color: black; */
}
.top-books__list:hover::-webkit-scrollbar-thumb {
  background-color: plum;
  border-radius: 5px;
}
.top-books__list:hover::-webkit-scrollbar-track {
  background-color: rgb(236, 236, 236);
}

.top-books__book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 25px;
}
.top-books__cover {
  width: 66px;
  height: 103px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px -3px;
}
.top-books__rate {
  display: flex;
  padding-top: 5px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.top-books__rate i {
  font-size: 0.1em;
  color: plum;
}
.top-books__rate i:last-child {
  color: #eaeaea;
}

/* 세번째 섹션 */
.best-book {
  margin-top: 10px;
}
.best-book__box {
  display: flex;
  justify-content: space-between;
}

.best-book__cover {
  width: 100px;
  height: 135px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px -3px;
}

.best-book__data {
  padding-top: 5px;
  width: 60%;
}
.best-book__data h3 {
  font-size: 18px;
  line-height: 1.2;
}
.best-book__data h4 {
  padding-top: 10px;
  font-size: 15px;
  color: rgb(119, 119, 119);
}
.best-book__data h6 {
  padding-top: 10px;
  font-size: 13px;
  color: #e1e1e1;
}
